.DetajleGrid {
    width: 1000px;
    margin: auto;
    text-align: center;
}

.DetajleGridButtons {
    width: 250px;
    background-color: none;
}

#PrisTableRow th {
    border: 1px solid black;
}
