h2 {
    font-family: Segoe UI Black;
    padding: 0;
    margin: 0;
    text-align: center;
}

p {
    font-family: Segoe UI;
    padding: 0;
    margin: 0;
}

a {
    font-family: Segoe UI Black;
    text-decoration:none;
    color:#000;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: white;
    /*color: white;*/
    padding: 12px 20px;
    border: none;
    /*border-radius: 4px;*/
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.ALink {
    font-family: Segoe UI Black;
    list-style: none;
    text-decoration: none;
    color: #000;
}

.LogoutButton {
    margin: 5px 20px 0 14%;
}

.floatRight {
    float: right;
}

.floatLeft {
    float: left;
}
.clearBoth{
    clear:both;
}
.Top10{
    margin-top:10px;
}
.Top25{
    margin-top:25px;
}
.bottom10{
    margin-bottom:10px;
}
.TekstCenter {
    text-align: center;
}

.NOBorder {
    border: none 0px transparent;
}

.tekstsize {
    font-size: 20px;
}
.ErrorBox{
    margin:auto;
    clear:both;
    padding:20px;
    /*width:400px;*/
    height:100%;
    margin-bottom: 50px;
    
}
.width100{
    width:100%;
}

.textbox {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}