body {
    margin: 0;
    padding: 0;
    background: radial-gradient(#999, #555, #333);
}

header{
    width:100%;
    height: 120px;
    background-color:White;
}

/* top nav start */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #888;
    /*border-bottom: 2px solid #FFF;*/
    -webkit-box-shadow: 0px 2px 5px 0px red;
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: #555;
}

/*ul.topnav li a.active {
    background-color: #555;  color of active link
}*/

/* top nav right start */
ul.topnav li.right {
    float: right;
}

@media screen and (max-width: 600px) {
ul.topnav li.right,
    ul.topnav li {
        float: none;
    }
}

/* Slash separator start*/
/*ul.topnav li::before {
    content: '\00BB';
    position: relative;
    color: #fff;
}

ul.topnav li:last-child:before {
    content: none;
}

ul.topnav li a {
    display: inline-block;
}*/
/* Slash separator end*/
/* top nav right end */

/* Dropdown nav start */
li a:hover, .dropdown:hover .dropbtn {
    background-color: #555;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}

.dropdown:hover .dropdown-content {
    display: block;
}
/* Dropdown nav end *

/* top nav end */

/* Content Start */
#wrapper {
    height: 700px;
    width: 100%;
    margin: auto;
    /*background-color: #666;*/
}

section {
    width:  1200px;
    margin: auto;
    /*float: left;*/
    height: 100%;
    /*background-color: #879;*/
    padding: 0 20px 0 20px;
    /*margin: 0 0 0 20px;*/
    /*position: relative;*/
}

section article.FrontText {
    /*background-color:red;*/
    padding: 10px;
    text-align: center;
    width:100%;
    
}
section article.FrontText p {
    /*background-color:red;*/
    margin:auto;
    width:600px;
    
    
}
section article.About h2{
    text-align: center;
}
section article.About {
    margin: 30px 100px 0 0;
    background-color: #FFF;
    width: 350px;
    height: 400px;
    float:  right;
    border: 2px solid #FFF;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}
section article.About .profilePic{
    bottom: 0;
    float:  right;
}
/* Content End */

/* Footer Start */
footer {
    clear:both;
    background-color: #333;
    width: 100%;
    bottom: 0;
    border-top: 1px solid #FFF;
}

footer article {
    text-align: center;
    height: 70px;
}
/* Footer End */

h2 {
    font-family: Segoe UI Black;
    padding: 0;
    margin: 0;
}
p {
    font-family: Segoe UI Black;
    padding: 0;
    margin: 0;
}
a {
    font-family: Segoe UI Black;
}

#ProduktGruppe {
    width: 650px;
    margin: 50px auto;
}
#Grupper {
    margin: 0 10px 0 0;
    width: 200px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    float: left;
}
div.container {
    text-align: center;
    padding: 10px 20px;
}