html,body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background: radial-gradient(#999, #555, #333);
    position: relative;
    /*background-color: red;*/
}

header {
    width: 100%;
    height: 100%;
    background-color: White;
}

/* top nav start */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #888;
    /*border-bottom: 2px solid #FFF;*/
    -webkit-box-shadow: 0px 2px 5px 0px red;
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: #555;
}

        /*ul.topnav li a.active {
    background-color: #555;  color of active link
}*/

/* top nav right start */
ul.topnav li.right {
    float: right;
}

@media screen and (max-width: 600px) {
    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }
}

/* Slash separator start*/
/*ul.topnav li::before {
    content: '\00BB';
    position: relative;
    color: #fff;
}

ul.topnav li:last-child:before {
    content: none;
}

ul.topnav li a {
    display: inline-block;
}*/
/* Slash separator end*/
/* top nav right end */

/* Dropdown nav start */
li a:hover, .dropdown:hover .dropbtn {
    background-color: #555;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/* Dropdown nav end *

/* top nav end */

/* Content Start */
#wrapper {
    width: 100%;
    min-height:699px;
    max-height:100%;
    margin: auto;
}
@media screen and (max-height: 1080px) {
    #wrapper {
        /*height: 659px;*/
        /*background-color: #666;*/
    }
}
@media screen and (max-height: 900px) {
    #wrapper {
        height: 500px;
        /*background-color: #666;*/
    }
}

section {
    /*width: 1200px;
    margin: auto;*/
    /*float: left;*/
    height: 100%;
    /*background-color: #879;*/
    padding: 0 20px 0 20px;
    /*margin: 0 0 0 20px;*/
    /*position: relative;*/
}

section article.FrontText {
    /*background-color:red;*/
    padding: 10px;
    text-align: center;
    width: 100%;
}

section article.FrontText p {
    /*background-color:red;*/
    margin: auto;
    width: 35%;
}

/* Content End */

/* Footer Start */
footer {
    clear: both;
    background-color: #333;
    width: 100%;
    border-top: 1px solid #FFF;
    bottom: 0;
    position: relative;
    margin-top: 50px;
    /*display: none;*/
}

    footer article {
        text-align: center;
        height: 70px;
    }

    .footerClear{
        clear:both;
        width:100%;
        height:5px;
    }
/* Footer End */

#KontaktForm {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 500px;
    float: right;
    margin-right:50px;
}
#TekstForm {
    width: 500px;
    float: left;
    margin-left: 50px;
    text-align:center;
}
/*#TekstForm, h2 {
 
}*/