section article.About h2 {
    text-align: center;
}

section article.About p {
    font-size: 14px;
    padding: 0 20px 0 20px;
}

section article.About {
    margin: 30px 0 0 100px;
    background-color: #FFF;
    width: 90%;
    height: 420px;
    float: left;
    border: 2px solid #FFF;
    position: relative;
    z-index: 1;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}



.profilePic {
    z-index: -2;
    padding-left: 20px;
    right: 0;
    bottom: 0;
    position: absolute;
    /*opacity: 0.8;f*/
    /*margin-top: 12spx;
    float:right;*/
    /*clear:both;*/
}